
#adminka{
    min-width: 320px;
        padding: 15px 15px 15px 15px;
        height: auto;
        min-height: 95vh;
        width: 90vw;
        margin: 0 auto;
        margin-top: 1vh;
        background-color: rgba(0, 0, 0, 0.6);
         border-radius: 5px;
            position: relative;
            &:hover{
                background-color: rgba(0,0,0,0.7);
                -webkit-box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                -moz-box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                }
    
             
                        .logout{
                            display: block;
                            position: absolute;
                            right: 10px;
                            top: 5px;
                            background-color: rgb(38, 166, 154);
                            color: white;
                            border-radius: 2px;
                            padding: 0 0.2vw 0 0.2vw;
                        } 
            .admin_login {
                    .lines {
                          @media all and (orientation:landscape) {
                                    margin-bottom: 2vh;
                                    margin-top: 2vh;
                                    height: 2.3vw;
                          }
                          @media all and (orientation:portrait) {
                                   margin-bottom: 2vw;
                                  margin-top: 2vw;
                                  height: 2.3vh; 
                          } 
                        .input-field{
                        height: 100%;
                        margin-top: 0.5vw;
                        position: relative;
                        padding: 0;    
                            input{
                                background-color: transparent !important;
                                padding-left: 1vw;
                                position: absolute;
                                bottom: 0;
                                margin: 0;
                                height: 100%;
                                color: white;
                            }
                    }
                    }
                    p{
                        color: #fff59d;
                        text-align: center;
                        @media all and (orientation:landscape) {
                                    margin-top: 2vh;  
                          }
                          @media all and (orientation:portrait) {
                                  margin-top: 2vw;
                          }  
                    }
                    
                    .btn{
                        padding: 0;
                       height: 2.3vw; 
                        line-height: 0;
                         @media all and (orientation:landscape) {
                                     height: 2.3vw; 
                                    margin-bottom: 2vh;
                                    margin-top: 2vh;  
                          }
                          @media all and (orientation:portrait) {
                              height: 2.3vh; 
                                   margin-bottom: 2vw;
                                  margin-top: 2vw;
                          } 
                        input{
                            width: 100% !important;
                            height: 100% !important;
                            
                        }
                    }
                }
    
    
                
    
    #add_remove{
        height: auto;
        min-height: 85vh;
        .add_remove_catalog_img{
             
                p{
                        display: block;
                        color: #fff59d;
                        text-align: center;
                        border-top: 1px solid rgb(41, 180, 166);
                        @media all and (orientation:landscape) {
                                    margin-top: 2vh;
                                    padding-top: 1vh;
                          }
                          @media all and (orientation:portrait) {
                                  margin-top: 2vw;
                                  padding-top: 1vw;
                          } 
                }
            .no_b{
                border-top: none;
                @media all and (orientation:landscape) {
                                    margin-top: 0vh;
                                    padding-top: 0vh;
                          }
                          @media all and (orientation:portrait) {
                                  margin-top: 0vw;
                                  padding-top: 0vw;
                          } 
            }
                .lines{
                                  @media all and (orientation:landscape) {
                                            margin-bottom: 2vh;
                                            margin-top: 2vh;
                                            height: 2.3vw;
                                  }
                                  @media all and (orientation:portrait) {
                                           margin-bottom: 2vw;
                                          margin-top: 2vw;
                                          height: 2.3vh; 
                                  } 
                                .input-field{
                                height: 100%;
                                position: relative;
                                    @media all and (orientation:landscape) {
                                            margin-top: 2vh;
                                  }
                                  @media all and (orientation:portrait) {
                                          margin-top: 2vw;
                                  } 
                                    input{
                                        position: absolute;
                                        bottom: 0;
                                        margin: 0;
                                        height: 100%;
                                        color: white;
                                    }
                                        .list{
                                        height: 100%;
                                            .caret{
                                                color: rgb(41, 180, 166);
                                            }
                                            span, option, input{
                                                @include text-mix(
                                                    /*<400*/    2.2vw,
                                                    /*400-500*/ 2.1vw,
                                                    /*500-600*/ 1.8vw,
                                                    /*600-768*/ 1.5vw,
                                                    /*768-800*/ 1.4vw,
                                                    /*800-900*/ 1.3vw,
                                                    /*900-992*/ 1.3vw,
                                                   /*992-1200*/ 1.2vw,
                                                    /*>1200*/   1vw
                                                     );     
                                            }    
                                    }
                            }
                    
                        }
            
            .list_cat_bl{
                margin-bottom: 0;
                ul{
                    height: 100%;
                    margin: 0;
                    li{
                         @media all and (orientation:landscape) {
                                            margin-bottom: 1vh;
                                            margin-top: 1vh;
                                            height: 2.3vw;
                                  }
                                  @media all and (orientation:portrait) {
                                           margin-bottom: 1vw;
                                          margin-top: 1vw;
                                          height: 2.3vh; 
                                  } 
                        border-bottom: 1px solid transparent;
                        text-align: center;
                        &:hover{
                                background-color: rgba(48,90,196,0.3);
                                -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                            }
                        a{
                            text-decoration: none;
                            color: white;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                                span{
                                    display: block;
                                    width: 100%;
                                    text-align: center;
                                }
                        }
                    }
                    .active{
                        border-bottom: 1px solid #fff59d;
                        background-color: rgba(48,90,196,0.6);
                                -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
                                -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
                                box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
                            &:hover{
                                background-color: rgba(48,90,196,1);
                                -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                                -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                                box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                            }
                    }
                    
                }
            } 
            
            
            
            
            
            
            .down_block{
                padding: 0;
                margin-bottom: 0;
                        .file-field{
                            @media all and (orientation:landscape) {
                                            margin-bottom: 2vh;
                                            margin-top: 2vh;
                                            height: 2.3vw;
                                  }
                                  @media all and (orientation:portrait) {
                                           margin-bottom: 2vw;
                                          margin-top: 2vw;
                                          height: 2.3vh; 
                                  } 
                            .btn{
                                height: 100%;
                                margin: 0;
                                width: 15%;
                                position: relative;
                                div{
                                    height: 100%;
                                    position: absolute;
                                    bottom: 0;  
                                    width: 100%;
                                   span{
                                    line-height: 0;
                                    padding: 0;
                                    border: 0;
                                } 
                                }
                                
                            }
                            .file-path-wrapper{
                                height: 100%;
                                overflow: hidden;
                                position: relative;
                                      @media all and (orientation:landscape) {
                                               padding-left: 1vw; 
                                      }
                                      @media all and (orientation:portrait) {
                                               padding-left: 1vh;
                                      } 
                                    input{
                                    position: absolute;
                                    bottom: 0;    
                                    height: 100%;    
                                    width: 100%;
                                    margin: 0;
                                }
                            }
                        }
                
                
                
                
                 .about-field{ 
                     position: relative;
                         @media all and (orientation:landscape) {
                                                height: 2.3vw; 
                                                margin-bottom: 2vh;
                                                margin-top: 2vh;  
                                      }
                                      @media all and (orientation:portrait) {
                                              height: 2.3vh; 
                                              margin-bottom: 2vw;
                                              margin-top: 2vw;
                                      } 
                                #add_about{
                                    position: absolute;
                                    bottom: 0;
                                    margin: 0;
                                    color: white;
                                     height: 100%;
                                }


                            }
           
                        }
                    .btn{
                                padding: 0;
                                height: 2.3vw; 
                                line-height: 0;
                                     @media all and (orientation:landscape) {
                                                height: 2.3vw; 
                                                margin-bottom: 2vh;
                                                margin-top: 2vh;  
                                      }
                                      @media all and (orientation:portrait) {
                                              height: 2.3vh; 
                                              margin-bottom: 2vw;
                                              margin-top: 2vw;
                                      } 
                                }
                
            }
    }
    .remove_image{
        min-height: inherit;
        height: inherit;
        
        #imgContent{
            display: block;
            height: 100%;
            width: 100%;
            .image_gallery{
                padding: 15px 15px 15px 15px;
                cursor: pointer;
                border-radius: 5px;
                height: auto;
                    .img_size{
                            z-index: 1;
                            color: #fff59d;
                            text-align: center;
                        }
                        &:hover{
                                background-color: rgba(48,90,196,0.3);
                                -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                            }
                    .for_hight {
                        position: relative;
                        padding-top: 60%;
                        height: 0;
                            .remove_btn{
                            position: absolute;
                            font-weight: bold;
                            color: red;
                            z-index: 2;
                            top: 0;
                            &:hover{
                                    color: blue;
                                }      
                                 @media all and (orientation:landscape) {
                                           right: 0.3vw;  
                                  }
                                  @media all and (orientation:portrait) {
                                          right: 0.3vh;
                                  } 
                                    @include text-mix(
                                    /*<400*/    2.5vw,
                                    /*400-500*/ 2.4vw,
                                    /*500-600*/ 2.2vw,
                                    /*600-768*/ 1.9vw,
                                    /*768-800*/ 1.7vw,
                                    /*800-900*/ 1.5vw,
                                    /*900-992*/ 1.4vw,
                                   /*992-1200*/ 1.3vw,
                                    /*>1200*/   1.2vw
                                     );
                            }

                        .for_hight2 {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                            .material-placeholder{
                                height: 100%;
                            }
                            div{
                                border: 1px solid lightgrey;        
                                height: 100%;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                -moz-background-size: contain; /* Firefox 3.6+ */
                                -webkit-background-size: contain; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
                                -o-background-size: contain; /* Opera 9.6+ */
                                background-position: center;
                                outline: none;
                                border-image-width: 0;
                            }

                                      
   
                        }
                        
                 }   
                
            }
            
        }
    }
    
    
    
}















