    #content{
        padding: 15px 15px 15px 15px;
        height: auto;
        min-height: 85vh;
        width: 90vw;
        margin: 0 auto;
        margin-top: 1vh;
        background-color: rgba(28,160,199,0.6);
         border-radius: 5px;
         transition: all 0.4s;
            @media (max-width: 600px){
                transition: none;
            }
            &:hover{
                background-color: rgba(28,160,199,0.9);
                -webkit-box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                -moz-box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                box-shadow: 0px 0px 44px -10px rgba(0,0,0,0.6);
                }
        
       
        #block404{
            color: red;
            text-align: center;
        }
        
        
        
        
        
        #imgContent{
            display: block;
            height: 100%;
            width: 100%;
            .image_gallery{
                padding: 15px 15px 15px 15px;
                transition: all 0.4s;
                cursor: pointer;
                border-radius: 5px;
                            @media (max-width: 992px){
                                     transition: none;
                            }
                        &:hover{
                                background-color: rgba(48,90,196,0.3);
                                -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                                box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.3);
                            }
                    .for_hight {
                        position: relative;
                        padding-top: 60%;
                        height: 0;
                        .for_hight2 {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                            img{
                                height: 100%;
                                width: 100%;
                                background-repeat: no-repeat;
//                                background-position: center;
                                background-size: cover;
                                -moz-background-size: cover; /* Firefox 3.6+ */
                                -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
                                -o-background-size: cover; /* Opera 9.6+ */
                            }
//                                .img_wrap {
//                                    position: relative;
//                                    height: 100%;
//                                    width: 100%;
//                                        a{
//                                            position: absolute;
//                                            top: 0;
//                                            right: 0;
//                                            bottom: 0;
//                                            left: 0;
//                                            z-index: 1;
//                                        }
//                                    
//                                }
                        }
                 }   
                
            }
            
        }
        
        
        
        #oneImg{
            display: none;
           height: 82vh;
            width: 100%;
            padding: 0;
            margin: 0;
            @media (max-width: 992px){
                                height: 60vh;
                                }
            .img_show{
                overflow: hidden;
                height: 100%;
                float: left;
                    @media (max-width: 992px){
                                float: none;
                                }
                .in_img{
                    width: auto;
                    height: 100%;
                    .valign {
                        margin: 0 auto;
                            img{
                                height: auto;
                                width: 100%;
                            }  
                    }
                     
                }
            }
            .proportions {
                float: right;
                    @media (max-width: 992px){
                                float: none;
                                }
                p{
                    color: #fff59d;
                }
                a{
                    display: block;
                    color:fuchsia;
                    @media (max-width: 992px){
                                height: auto;
                                display: inline-block;
                                }
                }  
            }
        }
        
        
        
        
        
        
        #registr{
            display: none;
            width: 40%;
            height: auto;
            margin-top: 9%;
            background-color: rgba(48,90,196,0.6);
            transition: all 0.4s;
            -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
            -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
            box-shadow: 0px 0px 9px 4px rgba(48,90,196,0.6);
                        @media (max-width: 992px){
                                transition: none;
                                width: 70%;
                                }
                        @media (max-width: 600px){
                                width: 80%;
                                }
                &:hover{
                    background-color: rgba(48,90,196,1);
                    -webkit-box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                    -moz-box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                    box-shadow: 0px 0px 9px 4px rgba(48,90,196,1);
                }
            .fill_inp{
                color: #fff59d;
                text-align: center;
                padding-top: 0.5vw;
                padding-bottom: 1vw;
            }
            .check{
                label,p{
                    display: block;
                    float: left;
                }
                p{
                    color: white;
                    @media all and (orientation:landscape) {
                            margin-left: 1vh;
                    }
                    @media all and (orientation:portrait) {
                            margin-left: 1vw;
                    } 
                    a{
                            color: red;
                            &:hover{
                                border-bottom: 1px solid red;
                            }
                    }
                }
                input[type="checkbox"]+span {
                  -webkit-appearance: none;
                  @media all and (orientation:landscape) {
                            width: 1vw;
                            height: 1vw;
                  }
                  @media all and (orientation:portrait) {
                            width: 1vh;
                            height: 1vh;
                  } 
                  border: 1px solid rgba(0, 0, 0, .3);
                  outline: none;
                  margin: 5px;
                  box-sizing: border-box;
                  display: inline-block;
                }

                input[type="checkbox"]:checked+span:before {
                  content: "";
                  display: block;
                    @media all and (orientation:landscape) {
                            width: 0.6vw;
                            height: 1vw;
                  }
                  @media all and (orientation:portrait) {
                            width: 0.6vh;
                            height: 1vh;
                  } 
                  border: 0 solid rgb(58, 153, 45);
                  border-width: 0 2px 2px 0;
                  -webkit-transform: rotateZ(45deg);
                  margin: -6px 3px;
                  pointer-events: none;
                }
            }
            
            

            .row {
	            padding: 0;
            }
            .lines{
                height: 2.3vw;
                .input-field{
                    height: 100%;
                    margin-top: 0.5vw;
                    position: relative;
                    input{
                        position: absolute;
                        bottom: 0;
                        margin: 0;
                        height: 100%;
                    }
                }
                }
                
            .btn_line{
                    height: 2.3vw;
                button{
                    height: 100%;
                    line-height: 0;
                    padding: 0;
                    padding: auto;
                    @media (max-width: 992px){
                            margin-top: 0.8vw;
                            padding: 1.8vw 1vh 1.8vw 1vh;
                                }
                }
                
            }
            
            
            
            
        }
        
        
        
        
        
        
        
        
        
        
    }